.review-host-header{
    margin-bottom: 0.5rem;
    display:flex;
    flex-direction: column;
    gap: 0px;
}

.review-user-name{
    font-size: 0.9rem;
    font-family: monospace;
    margin: 2px 0px 2px 0px;
}

.review-date{
    color: darkgray;
    font-size: 0.9rem;
    font-family: monospace;
    margin: 2px 0px 2px 0px;
}

.review-text{
    font-size: 0.7rem;
    font-family: 'Times New Roman', Times, serif;
    margin: 2px 0px 2px 0px;
}

.review-needed-text{
    font-size: 1.5rem;
}

.deleteButtonClassName{
    display: block;
    width:max-content;
    padding:5px 10px;
    color: white !important;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 2px 2px 2px 2px #555 ;
    background-color: #b5264e;
}