.create-review-form {
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 5px black solid;
}


.review-form-title{
    font-size:2rem;
    margin : 1rem 5rem;
}

.review-form-input{
    height: 8rem; 
    width: calc(100% - 4rem); 
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 0.5rem; 
    box-sizing: border-box; 
    position: relative;
    border: 1px solid black; 
    border-radius: 4px;
}

.review-star-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
    

.star {
    transition: color 0.3s;
}


.star.empty {
    color: #ccc; /* Grey color for empty stars */
}


.star.filled {
    color:#C70039; /* dark red color for filled stars */
}

.review-star-container > *{
    padding: 10px 
}

.review-submit-button{
    display: block; 
    margin: 20px auto; 
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px grey;
}

.review-submit-button:disabled {
    background-color: grey; /* Darker color for disabled state */
    cursor: not-allowed; /* Show a not-allowed cursor when disabled */
    opacity: 0.7; /* Slightly reduce opacity to make it look disabled */
  }

.error{
    color: red;
    font-style: italic;
}