/* TODO: Add sitewide styles */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f0f0; /* Light gray background for a clean look */
  color: #333; /* Dark text for readability */
  line-height: 1.6;
}


button{
  background-color: #b5264e;
  color:white;
  border-radius: 10%;
}