/* TODO: Add sitewide styles */
body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f0f0f0; /* Light gray background for a clean look */
  color: #333; /* Dark text for readability */
  line-height: 1.6;
}


button{
  background-color: #b5264e;
  color:white;
  border-radius: 5px;
  box-shadow: 2px 2px 2px grey;
}

.button:disabled {
  background-color: grey; /* Darker color for disabled state */
  cursor: not-allowed; /* Show a not-allowed cursor when disabled */
  opacity: 0.7; /* Slightly reduce opacity to make it look disabled */
}

input {
  border: 1px black solid;
  height: 2em;
  border-radius: 5px;
}