.profile-dropdown{
    border : 1px #C70039 solid;
    border-radius: 5%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding:20px;
    font-size: 1rem;
    color: #C70039;
    list-style:none;
}

.profile-dropdown-hidden {
    display: none;
}

.header-list{
    list-style:none;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 3rem;
    margin-left: 3rem;
    margin-bottom :1rem;
    font-size: 2rem;
    border-bottom: 1px grey solid;
}

.header-list li {
    padding-bottom: 1rem
}

.logo-area{
    text-decoration: none;
    color: #b5264e;
}

.logo-image{
    max-width: 3rem;
    max-height: 3rem;
}

.header-right{
    display:flex;
    flex-direction:row;
    list-style:none;
}


.header-right-button{
    width:2rem;
    height: 2rem;
    /* background-color: darkgray; */
    box-shadow: 2px 2px 2px grey;
    margin-left:1rem
}

.create-spot-button{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    word-spacing: 0px;
    color:navy
}